
    <a href="#" {{action 'showForm'}}><h2>Contact Us</h2></a>
    {{#if notSubmit}}
        <div class="row">
            <span class="col-lg-10 pull-left">For General Inquires select <b>"Contact Us"</b></span>
        </div>
    {{/if}}



    {{#if isShown}}
        <div class="panel panel-info">
            <div class="panel-heading"><h2>Contact Information</h2></div>
        <form class="panel-body">
            <div class="form-group">
                <label for="fname">First Name:</label>
                {{input type="text" class="form-control focusedInput" value=fname id="fname" required="required"}}
                {{#if nameErr}}
                    <span>{{nameErr}}</span>
                    {{else}}
                    <span>&nbsp;</span>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="lname">Last Name:</label>
                {{input type="text" class="form-control focusedInput" value=lname id="lname" required="required"}}
                {{#if nameErr}}
                    <span>{{nameErr}}</span>
                {{else}}
                    <span>&nbsp;</span>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="email">Email Address:</label>
                {{input type="email" class="form-control focusedInput" id="email" value=email require="required"}}
            </div>
            <div class="form-group">
                <label for="phone">Best Contact Number:</label>
                {{input type="phone" class="form-control focusedInput" id="phone" value=phone }}
            </div>

            <div class="form-group">
                <label for="skype">Skype Id:</label>
                {{input type="text" class="form-control focusedInput" id="skype" value=skype }}
            </div>
            <label>Preferred Contact Method:</label>
            <div class="radio" id="method">
                <label>{{radio-button type='radio' name='optradio' value='Email' checked=selectedContctMethd}}Email</label>
                <label>{{radio-button type='radio' name='optradio' value='Phone' checked=selectedContctMethd}}Phone</label>
                <label>{{radio-button type='radio' name='optradio' value='Text' checked=selectedContctMethd}}Text</label>
                <label>{{radio-button type='radio' name='optradio' value='Skype' checked=selectedContctMethd}}Skype</label>
                <label>{{radio-button type='radio' name='optradio' value='Facetime' checked=selectedContctMethd}}Facetime</label>
            </div>
            <div class="form-group">
                <label for="request">Question:</label>
                {{textarea class="form-control" rows="5" id="request" value=request}}
            </div>
            <div class="row">
                <div class="col-lg-offset-3">
                    {{yeild}}
                 {{submit-button text="Submit" value="Submit" onSubmit=(action "createContact")}}
                </div>
            </div>
        </form>
    </div>
    {{/if}}




    {{outlet}}
  {{#if isSubmitted}}
      <div class="form-group has-success has-feedback col-lg-12 success-fix">

              <input type="text" class="form-control" id="inputSuccess" value="Thank you! You will be contacted with in 1 business day">
              <span class="glyphicon glyphicon-ok form-control-feedback"></span>

      </div>
   {{/if}}

