{{yield}}
<div class="theader">
    <h1>Contacts</h1>
</div>
<!--Column Headers-->
<div class="trow">
    <!--ID-->
    <!--<div class="tcol-1">-->
        <!--<span class="table-header">ID</span>-->
    <!--</div>-->
    <!--Name-->
    <div class="tcol-2">
        <span class="table-header">Name</span>
    </div>
    <!--Email-->
    <div class="tcol-2">
        <span class="table-header">Email</span>
    </div>
    <!--Phone-->
    <div class="tcol-2">
        <span class="table-header">Phone</span>
    </div>
    <!--Skype-->
    <div class="tcol-1">
        <span class="table-header">Skype</span>
    </div>
    <!--Method-->
    <div class="tcol-1">
        <span class="table-header tooltip">Contact
            <span class="tooltiptext">Preferred Contact Method</span>
        </span>

    </div>
    <!--Request-->
    <div class="tcol-3">
        <span class="table-header">Inquiry</span>
    </div>
    <div class="tcol-1">
        <span class="table-header">Make Quote</span>
    </div>
</div>
<!--Contacts List-->
<!--<div class="trow">
    &lt;!&ndash;ID&ndash;&gt;
    <div class="tcol-1">
        <span class="table-cell">3</span>
    </div>
    &lt;!&ndash;Name&ndash;&gt;
    <div class="tcol-2">
        <span class="table-cell">Kim West</span>
    </div>
    &lt;!&ndash;Email&ndash;&gt;
    <div class="tcol-2">
        <span class="table-cell">kwestpawg3@tmail.com</span>
    </div>
    &lt;!&ndash;Phone&ndash;&gt;
    <div class="tcol-2">
        <span class="table-cell">308-626-9669</span>
    </div>
    &lt;!&ndash;Skype&ndash;&gt;
    <div class="tcol-1">
        <span class="table-cell">kimk99</span>
    </div>
    &lt;!&ndash;Method&ndash;&gt;
    <div class="tcol-1">
        <span class="table-cell">skype</span>
    </div>
    &lt;!&ndash;Request&ndash;&gt;
    <div class="tcol-3">
        <span class="table-cell">Can you improve my sites security?</span>
    </div>
</div>-->
{{#each contactEntries as |contact|}}
    <div class="trow">
        <!--ID-->
        <!--<div class="tcol-1">-->
            <!--<span class="table-cell"></span>-->
        <!--</div>-->
        <!--Name-->
        <div class="tcol-2">
            <span class="table-cell" data-id={{contact.id}}>{{contact.f_name}}{{contact.l_name}}</span>
        </div>
        <!--Email-->
        <div class="tcol-2">
            <span class="table-cell">{{contact.email}}</span>
        </div>
        <!--Phone-->
        <div class="tcol-2">
            <span class="table-cell">{{contact.phone}}</span>
        </div>
        <!--Skype-->
        <div class="tcol-1">
            <span class="table-cell">{{contact.skype}}</span>
        </div>
        <!--Method-->
        <div class="tcol-1">
            <span class="table-cell">{{contact.contactMethd}}</span>
        </div>
        <!--Request-->
        <div class="tcol-3">
            <span class="table-cell">{{contact.request}}</span>
        </div>
        <div class="tcol-1">
            <div class="radio" id="budget">
                <label>{{radio-button type='radio' name='optradio' value=contact.id checked=selectedQuote}}$100-$500</label>

        </div>
    </div>

{{/each}}


