<div class="theader">
    <h1>Quotes</h1>
</div>
<!--Column Headers-->
<div class="trow">
    <!--ID-->
    <!--<div class="tcol-1">-->
        <!--<span class="table-header">ID</span>-->
    <!--</div>-->
    <!--Name-->
    <div class="tcol-2">
        <span class="table-header">Name</span>
    </div>
    <!--Email-->
    <div class="tcol-2">
        <span class="table-header">Email</span>
    </div>
    <!--Phone-->
    <div class="tcol-2">
        <span class="table-header">Phone</span>
    </div>
    <!--Skype-->
    <div class="tcol-3">
        <span class="table-header">About</span>
    </div>
    <!--Method-->
    <div class="tcol-2">
        <span class="table-header tooltip">Web Address</span>
    </div>
    <!--Request-->
    <div class="tcol-1">
        <span class="table-header">Budget</span>
    </div>
</div>
<!--Contacts List-->
{{#each quotes as |quote|}}
    <div class="trow">
        <!--ID-->
        <!--<div class="tcol-1">-->
            <!--<span class="table-cell"></span>-->
        <!--</div>-->
        <!--Name-->
        <div class="tcol-2">
            <span class="table-cell" data-id={{quote.id}}>{{quote.name}}</span>
        </div>
        <!--Email-->
        <div class="tcol-2">
            <span class="table-cell">{{quote.email}}</span>
        </div>
        <!--Phone-->
        <div class="tcol-2">
            <span class="table-cell">{{quote.phone}}</span>
        </div>
        <!--Skype-->
        <div class="tcol-3">
            <span class="table-cell">{{quote.about}}</span>
        </div>
        <!--Method-->
        <div class="tcol-2">
            <span class="table-cell">{{quote.web_address}}</span>
        </div>
        <!--Request-->
        <div class="tcol-1">
            <span class="table-cell">{{quote.budget}}</span>
        </div>
    </div>

{{/each}}

<!--<div class="trow">
    &lt;!&ndash;ID&ndash;&gt;
    <div class="tcol-1">
        <span class="table-cell">3</span>
    </div>
    &lt;!&ndash;Name&ndash;&gt;
    <div class="tcol-2">
        <span class="table-cell">Kim West</span>
    </div>
    &lt;!&ndash;Email&ndash;&gt;
    <div class="tcol-2">
        <span class="table-cell">kwestpawg3@tmail.com</span>
    </div>
    &lt;!&ndash;Phone&ndash;&gt;
    <div class="tcol-2">
        <span class="table-cell">308-626-9669</span>
    </div>
    &lt;!&ndash;Skype&ndash;&gt;
    <div class="tcol-1">
        <span class="table-cell">kimk99</span>
    </div>
    &lt;!&ndash;Method&ndash;&gt;
    <div class="tcol-1">
        <span class="table-cell">skype</span>
    </div>
    &lt;!&ndash;Request&ndash;&gt;
    <div class="tcol-3">
        <span class="table-cell">Can you improve my sites security?</span>
    </div>
</div>-->

