<h2 class="text-center services-title container-top" >What We Do</h2>
<!--<div class="text-center about-logo__height">
    <img src="/assets/images/aboutLogo.png" alt="Imanje Solutions" class="about-logo"/>
</div>-->
<div class="container-fluid services-container">
    <div class="row text-center">
     <div class="col-md-offset-2 col-md-8  col-lg-offset-3 col-lg-6  service-drawer web">
         {{#if isActive}}
             <a href="#" Id="dev" {{action 'titleClick' this}}> <span class="glyphicon glyphicon-minus pull-right plus-button"></span></a>
         {{else}}
             <a href="#" Id="dev" {{action 'titleClick' this}}> <span class="glyphicon glyphicon-plus pull-right plus-button"></span></a>
         {{/if}}
        <a href="#" Id="dev" {{action 'titleClick' this}}><h2>Website Development</h2></a>
        <ul class="services__list isActive  {{if isActive "dev-open" "notactive"}}">
            <li>Custom Website Design and Development</li>
            <li>Responsive and Mobile Design</li>
            <li>Wordpress Development</li>
            <li>E-commerce</li>
            <li>Website Maintenance, Repair and Upgrades</li>
            <li>Web Hosting</li>
        </ul>
     </div>
    </div>
   <div class="row text-center">
       <div class="col-md-offset-2 col-md-8  col-lg-offset-3 col-lg-6  service-drawer">
           {{#if isApps}}
              <a href="#" {{action 'appsClick' this}}> <span class="glyphicon glyphicon-minus pull-right plus-button"></span></a>
           {{else}}
                <a href="#" {{action 'appsClick' this}}> <span class="glyphicon glyphicon-plus pull-right plus-button"></span></a>
           {{/if}}
        <a href="#" {{action 'appsClick' this}}><h2 id="app">Web Applications</h2></a>
        <ul class="services__list apps {{if isApps "dev-open" "notactive"}}">
            <li>Mobile Web Applications - Deisgn and Development</li>
            <li>SPA - Single Page Applications Deisgn and Development</li>
            <li>JavaScript Solutions - Design and Development</li>
            <li>New Features/Issue Resolution - Need a new feature or Issued resolved for your app</li>
            <li>Database - Design and Development</li>
            <li>Web Services and API Development</li>
        </ul>
       </div>
    </div>
   <div class="row text-center">
     <div class="col-md-offset-2 col-md-8  col-lg-offset-3 col-lg-6  service-drawer">
         {{#if isNet}}
            <a href="#" {{action 'netClick' this}}><span class="glyphicon glyphicon-minus pull-right plus-button"></span></a>
         {{else}}
            <a href="#" {{action 'netClick' this}}><span class="glyphicon glyphicon-plus pull-right plus-button"></span></a>
         {{/if}}
        <a href="#" {{action 'netClick' this}}><h2 id="net">Social Media Marketing</h2></a>
        <ul class="services__list net {{if isNet "dev-open" "notactive"}}">
            <li>SEO/Google Analytics</li>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Youtube</li>
            <li>Instagram</li>
            <li>E-mail Campaigns</li>
        </ul>
     </div>
   </div>
  <div class="row text-center">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6  service-drawer brand">
        {{#if isBrand}}
             <a href="#" {{action 'brandClick' this}}> <span class="glyphicon glyphicon-minus pull-right plus-button"></span></a>
        {{else}}
             <a href="#" {{action 'brandClick' this}}> <span class="glyphicon glyphicon-plus pull-right plus-button"></span></a>
        {{/if}}
        <a href="#" {{action 'brandClick' this}}><h2 id="brand">Branding Services</h2></a>
        <ul class="services__list net {{if isBrand "dev-open" "notactive"}}">
            <li>Graphic Design</li>
            <li>Logo Design</li>
            <li>Business Cards</li>
            <li>Flyers & Brochures</li>
            <li>T-shirts & Hats</li>
        </ul>
    </div>
  </div>
</div>



