<!--This page is for the customer forms Contact and Quotes-->

<div class="row">
    {{yeild}}
    <div class="col-xs-offset-1 col-md-offset-1 col-md-5">
        {{!--    {{outlet "contact-us"}} --}}
      {{  contact-us data=model.contact}}
    </div>
    <div class="col-xs-offset-1 col-md-5 quote-link">
        {{!-- {{outlet "quote-form"}} --}}
        {{quote-form data=model.quote}}
    </div>
</div>