
<div class="row">
    {{yeild}}
    <div class="col-md-offset-1 col-md-5">
        {{!--    {{outlet "contact-us"}} --}}
      {{contact-us data=model.contact}}
    </div>
    <div class="col-md-5">
        {{!-- {{outlet "quote-form"}} --}}
        {{quote-form data=model.quote}}
    </div>
</div>